*.iml
*.iws
*.eml
.svn
node_modules/
.sass-cachey

# Build output
/dist
/.vite

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Temporary files
*.tmp
*.log
